# Indexing

In [47]:
# Import pandas
import pandas as pd

filename = 'pennsylvania2012_turnout.csv'
# Read in filename and set the index: election
election = pd.read_csv(filename, index_col='county')

# Create a separate dataframe with the columns ['winner', 'total', 'voters']: results
results = election[['winner', 'total', 'voters']]

# Print the output of results.head()
print(results.head())
#print(election.head())

           winner   total  voters
county
Adams      Romney   41973   61156
Allegheny   Obama  614671  924351
Armstrong  Romney   28322   42147
Beaver     Romney   80015  115157
Bedford    Romney   21444   32189

In [48]:
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

## Slicing

In [49]:
# Slice the row labels 'Perry' to 'Potter': p_counties
p_counties = election.loc['Perry':'Potter', :]

# Print the p_counties DataFrame
print(p_counties)

# Slice the row labels 'Potter' to 'Perry' in reverse order: p_counties_rev
p_counties_rev = election.loc['Potter':'Perry':-1]

# Print the p_counties_rev DataFrame
print(p_counties_rev)

             state   total      Obama     Romney  winner   voters    turnout  \
county
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407
Pike            PA   23164  43.904334  54.882576  Romney    41840  55.363289
Potter          PA    7205  26.259542  72.158223  Romney    10913  66.022175

                 margin
county
Perry         38.821272
Philadelphia  71.172800
Pike          10.978242
Potter        45.898681
             state   total      Obama     Romney  winner   voters    turnout  \
county
Potter          PA    7205  26.259542  72.158223  Romney    10913  66.022175
Pike            PA   23164  43.904334  54.882576  Romney    41840  55.363289
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064

                 margin
county
Potter        45.898681
Pike          10.978242
Philadelphia  71.172800
Perry         38.821272

In [50]:
# Slice the columns from the starting column to 'Obama': left_columns
left_columns = election.loc[:,:'Obama']

# Print the output of left_columns.head()
print(left_columns.head())

# Slice the columns from 'Obama' to 'winner': middle_columns
middle_columns = election.loc[:,'Obama':'winner']

# Print the output of middle_columns.head()
print(middle_columns.head())

# Slice the columns from 'Romney' to the end: 'right_columns'
right_columns = election.loc[:,'Romney':]

# Print the output of right_columns.head()
print(right_columns.head())

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
Armstrong    PA   28322  30.696985
Beaver       PA   80015  46.032619
Bedford      PA   21444  22.057452
               Obama     Romney  winner
county
Adams      35.482334  63.112001  Romney
Allegheny  56.640219  42.185820   Obama
Armstrong  30.696985  67.901278  Romney
Beaver     46.032619  52.637630  Romney
Bedford    22.057452  76.986570  Romney
              Romney  winner  voters    turnout     margin
county
Adams      63.112001  Romney   61156  68.632677  27.629667
Allegheny  42.185820   Obama  924351  66.497575  14.454399
Armstrong  67.901278  Romney   42147  67.198140  37.204293
Beaver     52.637630  Romney  115157  69.483401   6.605012
Bedford    76.986570  Romney   32189  66.619031  54.929118

### Subselecting DataFrames with lists

In [51]:
# Create the list of row labels: rows
rows = ['Philadelphia', 'Centre', 'Fulton']

# Create the list of column labels: cols
cols = ['winner', 'Obama', 'Romney']

# Create the new DataFrame: three_counties
three_counties = election.loc[rows, cols]

# Print the three_counties DataFrame
print(three_counties)

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

### Thresholding data

In [52]:
# Create the boolean array: high_turnout
high_turnout = election['turnout'] > 70

# Filter the election DataFrame with the high_turnout array: high_turnout_df
high_turnout_df = election[high_turnout]

# Print the high_turnout_results DataFrame
high_turnout_df

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
Chester,PA,248295,49.228539,49.650617,Romney,337822,73.498766,0.422079
Forest,PA,2308,38.734835,59.835355,Romney,3232,71.410891,21.100520
Franklin,PA,62802,30.110506,68.583803,Romney,87406,71.850903,38.473297
Montgomery,PA,401787,56.637223,42.286834,Obama,551105,72.905708,14.350390
Westmoreland,PA,168709,37.567646,61.306154,Romney,238006,70.884347,23.738508

### Filtering columns using other columns

In [53]:
# Import numpy
import numpy as np

# Create the boolean array: too_close
too_close = election['margin'] < 1

# Assign np.nan to the 'winner' column where the results were too close to call
election['winner'][too_close] = np.nan

# Print the output of election.info()
print(election.info())

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     64 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 7.2+ KB
None

c:\users\willy huang\python\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [71]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [55]:
# Select the 'age' and 'cabin' columns: df
df = titanic[['age', 'cabin']]
# To select the 'age' and 'cabin' columns, first create a list consisting of them, and pass them inside titanic[].


# Print the shape of df
print(df.shape)

# Drop rows in df with how='any' and print the shape
print(df.dropna(how='any').shape)

# Drop rows in df with how='all' and print the shape
print(df.dropna(how='all').shape)

# Call .dropna() with thresh=1000 and axis='columns' and print the output of .info() from titanic
print(titanic.dropna(thresh=1000, axis='columns').info())

(1309, 2)
(272, 2)
(1069, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
pclass      1309 non-null int64
survived    1309 non-null int64
name        1309 non-null object
sex         1309 non-null object
age         1046 non-null float64
sibsp       1309 non-null int64
parch       1309 non-null int64
ticket      1309 non-null object
fare        1308 non-null float64
embarked    1307 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 102.3+ KB
None

## Using apply() to transform a column

In [56]:
weather = pd.read_csv('pittsburgh2013.csv')
weather.head()

,Date,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,Mean Dew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2013-1-1,32,28,21,30,27,16,100,89,77,...,10,6,2,10,8,NaN,0.00,8,Snow,277
1,2013-1-2,25,21,17,14,12,10,77,67,55,...,10,10,10,14,5,NaN,0.00,4,NaN,272
2,2013-1-3,32,24,16,19,15,9,77,67,56,...,10,10,10,17,8,26.0,0.00,3,NaN,229
3,2013-1-4,30,28,27,21,19,17,75,68,59,...,10,10,6,23,16,32.0,0.00,4,NaN,250
4,2013-1-5,34,30,25,23,20,16,75,68,61,...,10,10,10,16,10,23.0,0.21,5,NaN,221

In [57]:
# Write a function to convert degrees Fahrenheit to degrees Celsius: to_celsius
def to_celsius(F):
    return 5/9*(F - 32)

# Apply the function over 'Mean TemperatureF' and 'Mean Dew PointF': df_celsius
df_celsius = weather[['Mean TemperatureF', 'Mean Dew PointF']].apply(to_celsius)

# Reassign the columns df_celsius
df_celsius.columns = ['Mean TemperatureC', 'Mean Dew PointC']

# Print the output of df_celsius.head()
print(df_celsius.head())

   Mean TemperatureC  Mean Dew PointC
0          -2.222222        -2.777778
1          -6.111111       -11.111111
2          -4.444444        -9.444444
3          -2.222222        -7.222222
4          -1.111111        -6.666667

### Using .map() with a dictionary
#### The .map() method is used to transform values according to a Python dictionary look-up. In this exercise you'll practice this method while returning to working with the election DataFrame, which has been pre-loaded for you.

In [58]:
# Create the dictionary: red_vs_blue
red_vs_blue = {
    'Obama': 'blue',
    'Romney': 'red'
}

# Use the dictionary to map the 'winner' column to the new column: election['color']
election['color'] = election['winner'].map(red_vs_blue)

# Print the output of election.head()
print(election.head())

          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
Beaver       PA   80015  46.032619  52.637630  Romney  115157  69.483401
Bedford      PA   21444  22.057452  76.986570  Romney   32189  66.619031

              margin color
county
Adams      27.629667   red
Allegheny  14.454399  blue
Armstrong  37.204293   red
Beaver      6.605012   red
Bedford    54.929118   red

### Using vectorized functions
#### Instead of using .apply() as you did in the earlier exercises, the zscore UFunc will take a pandas Series as input and return a NumPy array.

In [59]:
# Import zscore from scipy.stats
from scipy.stats import zscore


# Call zscore with election['turnout'] as input: turnout_zscore
turnout_zscore = zscore(election['turnout'])

# Print the type of turnout_zscore
print(type(turnout_zscore))

# Assign turnout_zscore to a new column: election['turnout_zscore']
election['turnout_zscore'] = turnout_zscore

# Print the output of election.head()
print(election.head())

<class 'numpy.ndarray'>
          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
Beaver       PA   80015  46.032619  52.637630  Romney  115157  69.483401
Bedford      PA   21444  22.057452  76.986570  Romney   32189  66.619031

              margin color  turnout_zscore
county
Adams      27.629667   red        0.853734
Allegheny  14.454399  blue        0.439846
Armstrong  37.204293   red        0.575650
Beaver      6.605012   red        1.018647
Bedford    54.929118   red        0.463391

## Changing index of a DataFrame

In [60]:
sales = pd.read_csv('sales.csv', index_col='month')
sales.head()

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52

In [61]:
# Create the list of new indexes: new_idx
new_idx = [i.upper() for i in sales.index]

# Assign new_idx to sales.index
sales.index = new_idx

# Print the sales DataFrame
print(sales)

     eggs  salt  spam
JAN    47  12.0    17
FEB   110  50.0    31
MAR   221  89.0    72
APR    77  87.0    20
MAY   132   NaN    52
JUN   205  60.0    55

In [62]:
## Changing index name labels

# Assign the string 'MONTHS' to sales.index.name
sales.index.name = 'MONTHS'

# Print the sales DataFrame
print(sales)

# Assign the string 'PRODUCTS' to sales.columns.name 
sales.columns.name = 'PRODUCTS'

# Print the sales dataframe again
print(sales)

        eggs  salt  spam
MONTHS
JAN       47  12.0    17
FEB      110  50.0    31
MAR      221  89.0    72
APR       77  87.0    20
MAY      132   NaN    52
JUN      205  60.0    55
PRODUCTS  eggs  salt  spam
MONTHS
JAN         47  12.0    17
FEB        110  50.0    31
MAR        221  89.0    72
APR         77  87.0    20
MAY        132   NaN    52
JUN        205  60.0    55

## Building an index, then a DataFrame
#### You can also build the DataFrame and index independently, and then put them together. If you take this route, be careful, as any mistakes in generating the DataFrame or the index can cause the data and the index to be aligned incorrectly.

In [63]:
# Generate the list of months: months
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

# Assign months to sales.index
sales.index = months

# Print the modified sales DataFrame
print(sales)

PRODUCTS  eggs  salt  spam
Jan         47  12.0    17
Feb        110  50.0    31
Mar        221  89.0    72
Apr         77  87.0    20
May        132   NaN    52
Jun        205  60.0    55

In [64]:
state = ['CA', 'CA', 'NY', 'NY', 'TX', 'TX']
month = [1, 2, 1, 2, 1, 2]
sales['state'] = state
sales['month'] = month

### Setting & sorting a MultiIndex

In [65]:
# Set the index to be the columns ['state', 'month']: sales
sales = sales.set_index(['state', 'month'])

# Sort the MultiIndex: sales
sales = sales.sort_index()

# Print the sales DataFrame
print(sales)

PRODUCTS     eggs  salt  spam
state month
CA    1        47  12.0    17
      2       110  50.0    31
NY    1       221  89.0    72
      2        77  87.0    20
TX    1       132   NaN    52
      2       205  60.0    55

### Using .loc[] with nonunique indexes

In [99]:
# Set the index to the column 'state': sales
sales = sales.set_index(['state'])

# Print the sales DataFrame
print(sales)

# Access the data from 'NY'
print(sales.loc['NY',:])

KeyError: 'state'

In [100]:
# Look up data for NY in month 1: NY_month1
NY_month1 = sales.loc[('NY', 1),:]

# Look up data for CA and TX in month 2: CA_TX_month2
CA_TX_month2 = sales.loc[(['CA', 'TX'], 2),:]

# Look up data for all states in month 2: all_month2
all_month2 = sales.loc[(slice(None), 2),:]

In [101]:
NY_month1

PRODUCTS
eggs    221.0
salt     89.0
spam     72.0
Name: (NY, 1), dtype: float64

In [102]:
CA_TX_month2

PRODUCTS     eggs  salt  spam
state month
CA    2       110  50.0    31
TX    2       205  60.0    55

In [103]:
all_month2

PRODUCTS     eggs  salt  spam
state month
CA    2       110  50.0    31
NY    2        77  87.0    20
TX    2       205  60.0    55

### Pivoting a single variable

In [84]:
users = pd.read_csv('users.csv')
users

   Unnamed: 0 weekday    city  visitors  signups
0           0     Sun  Austin       139        7
1           1     Sun  Dallas       237       12
2           2     Mon  Austin       326        3
3           3     Mon  Dallas       456        5

In [85]:
# Pivot the users DataFrame: visitors_pivot
visitors_pivot = users.pivot(index='weekday', columns='city', values='visitors')

# Print the pivoted DataFrame
print(visitors_pivot)

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

In [86]:
# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users.pivot(index='weekday', columns='city', values='signups')

# Print signups_pivot
print(signups_pivot)

# Pivot users pivoted by both signups and visitors: pivot
pivot = users.pivot(index='weekday', columns='city')

# Print the pivoted DataFrame
print(pivot)

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12
        Unnamed: 0        visitors        signups
city        Austin Dallas   Austin Dallas  Austin Dallas
weekday
Mon              2      3      326    456       3      5
Sun              0      1      139    237       7     12

# Stacking & unstacking

# Melting DataFrames
## Adding names for readability
### the goal of melting is to restore a pivoted DataFrame to its original form, or to change it from a wide shape to a long shape.

In [87]:
# Reset the index: visitors_by_city_weekday
#users = users.reset_index()

# Print visitors_by_city_weekday
print(users)

# Melt visitors_by_city_weekday: visitors
visitors = pd.melt(users, id_vars=['weekday','city'], value_name='visitors')

# Print visitors
print(visitors)

   Unnamed: 0 weekday    city  visitors  signups
0           0     Sun  Austin       139        7
1           1     Sun  Dallas       237       12
2           2     Mon  Austin       326        3
3           3     Mon  Dallas       456        5
   weekday    city    variable  visitors
0      Sun  Austin  Unnamed: 0         0
1      Sun  Dallas  Unnamed: 0         1
2      Mon  Austin  Unnamed: 0         2
3      Mon  Dallas  Unnamed: 0         3
4      Sun  Austin    visitors       139
5      Sun  Dallas    visitors       237
6      Mon  Austin    visitors       326
7      Mon  Dallas    visitors       456
8      Sun  Austin     signups         7
9      Sun  Dallas     signups        12
10     Mon  Austin     signups         3
11     Mon  Dallas     signups         5

In [88]:
# Melt users: skinny
skinny = pd.melt(users, id_vars=['weekday','city'])

# Print skinny
print(skinny)

   weekday    city    variable  value
0      Sun  Austin  Unnamed: 0      0
1      Sun  Dallas  Unnamed: 0      1
2      Mon  Austin  Unnamed: 0      2
3      Mon  Dallas  Unnamed: 0      3
4      Sun  Austin    visitors    139
5      Sun  Dallas    visitors    237
6      Mon  Austin    visitors    326
7      Mon  Dallas    visitors    456
8      Sun  Austin     signups      7
9      Sun  Dallas     signups     12
10     Mon  Austin     signups      3
11     Mon  Dallas     signups      5

In [89]:
skinny.loc[:3, 'variable'] = 'NaN'

skinny.loc[4,'variable'] = 'index'
skinny

   weekday    city  variable  value
0      Sun  Austin       NaN      0
1      Sun  Dallas       NaN      1
2      Mon  Austin       NaN      2
3      Mon  Dallas       NaN      3
4      Sun  Austin     index    139
5      Sun  Dallas  visitors    237
6      Mon  Austin  visitors    326
7      Mon  Dallas  visitors    456
8      Sun  Austin   signups      7
9      Sun  Dallas   signups     12
10     Mon  Austin   signups      3
11     Mon  Dallas   signups      5

## Obtaining key-value pairs with melt()

In [90]:
# Set the new index: users_idx
users_idx = users.set_index(['city', 'weekday'])

# Print the users_idx DataFrame
print(users_idx)

# Obtain the key-value pairs: kv_pairs
kv_pairs = pd.melt(users_idx, col_level=0, value_name='visitors')

# Print the key-value pairs
print(kv_pairs)

                Unnamed: 0  visitors  signups
city   weekday
Austin Sun               0       139        7
Dallas Sun               1       237       12
Austin Mon               2       326        3
Dallas Mon               3       456        5
      variable  visitors
0   Unnamed: 0         0
1   Unnamed: 0         1
2   Unnamed: 0         2
3   Unnamed: 0         3
4     visitors       139
5     visitors       237
6     visitors       326
7     visitors       456
8      signups         7
9      signups        12
10     signups         3
11     signups         5

In [91]:
# Create the DataFrame with the appropriate pivot table: by_city_day
by_city_day = users.pivot_table(index='weekday', columns='city')

# Print by_city_day
print(by_city_day)

        Unnamed: 0        signups        visitors
city        Austin Dallas  Austin Dallas   Austin Dallas
weekday
Mon              2      3       3      5      326    456
Sun              0      1       7     12      139    237

### Using other aggregations in pivot tables

In [92]:
# Use a pivot table to display the count of each column: count_by_weekday1
count_by_weekday1 = users.pivot_table(index='weekday',aggfunc='count')

# Print count_by_weekday
print(count_by_weekday1)

# Replace 'aggfunc='count'' with 'aggfunc=len': count_by_weekday2
count_by_weekday2 = users.pivot_table(index='weekday', aggfunc=len)
# Verify that the same result is obtained
print('==========================================')
print(count_by_weekday1.equals(count_by_weekday2))

         Unnamed: 0  city  signups  visitors
weekday
Mon               2     2        2         2
Sun               2     2        2         2
==========================================
True

## Using margins in pivot tables

In [93]:
# Create the DataFrame with the appropriate pivot table: signups_and_visitors
signups_and_visitors = users.pivot_table(index='weekday', aggfunc=sum)

# Print signups_and_visitors
print(signups_and_visitors)

# Add in the margins: signups_and_visitors_total 
signups_and_visitors_total = users.pivot_table(index='weekday',aggfunc=sum,margins=True)

# Print signups_and_visitors_total
print(signups_and_visitors_total)

         Unnamed: 0  signups  visitors
weekday
Mon               5        8       782
Sun               1       19       376
         Unnamed: 0  signups  visitors
weekday
Mon               5        8       782
Sun               1       19       376
All               6       27      1158

## Grouping by multiple columns

In [94]:
titanic = pd.read_csv('titanic.csv')

In [95]:


# Group titanic by 'pclass'
by_class = titanic.groupby('pclass')

# Aggregate 'survived' column of by_class by count
count_by_class = by_class['survived'].count()

# Print count_by_class
print(count_by_class)

# Group titanic by 'embarked' and 'pclass'
by_mult = titanic.groupby(['embarked','pclass'])

# Aggregate 'survived' column of by_mult by count
count_mult = by_mult['survived'].count()

# Print count_mult
print(count_mult)

pclass
1    323
2    277
3    709
Name: survived, dtype: int64
embarked  pclass
C         1         141
          2          28
          3         101
Q         1           3
          2           7
          3         113
S         1         177
          2         242
          3         495
Name: survived, dtype: int64

## Grouping by another series

In [ ]:
# # Group life by regions['region']: life_by_region
# life_by_region = life.groupby(regions['region'])

In [96]:
# Group titanic by 'pclass': by_class
by_class = titanic.groupby('pclass')

# Select 'age' and 'fare'
by_class_sub = by_class[['age','fare']]

# Aggregate by_class_sub by 'max' and 'median': aggregated
aggregated = by_class_sub.agg(['max', 'median'])

# Print the maximum age in each class
print(aggregated.loc[:, ('age','max')])

# Print the median fare in each class
print(aggregated.loc[:, ('fare', 'median')])

pclass
1    80.0
2    70.0
3    74.0
Name: (age, max), dtype: float64
pclass
1    60.0000
2    15.0458
3     8.0500
Name: (fare, median), dtype: float64

## Aggregating on index levels/fields

In [97]:
# Read the CSV file into a DataFrame and sort the index: gapminder
gapminder = pd.read_csv('gapminder_tidy.csv', index_col=['Year', 'region', 'Country']).sort_index()

# Group gapminder by 'Year' and 'region': by_year_region
by_year_region = gapminder.groupby(['Year', 'region'])

# Define the function to compute spread: spread
def spread(series):
    return series.max() - series.min()

# Create the dictionary: aggregator
aggregator = {'population':'sum', 'child_mortality':'mean', 'gdp':spread}

# Aggregate by_year_region using the dictionary: aggregated
aggregated = by_year_region.agg(aggregator)

# Print the last 6 entries of aggregated 
print(aggregated.tail(6))

                                   population  child_mortality       gdp
Year region
2013 America                     9.629087e+08        17.745833   49634.0
     East Asia & Pacific         2.244209e+09        22.285714  134744.0
     Europe & Central Asia       8.968788e+08         9.831875   86418.0
     Middle East & North Africa  4.030504e+08        20.221500  128676.0
     South Asia                  1.701241e+09        46.287500   11469.0
     Sub-Saharan Africa          9.205996e+08        76.944490   32035.0

## Grouping on a function of the index

In [98]:
import pandas as pd
# Read file: sales
sales = pd.read_csv('sales.csv',index_col='Date', parse_dates=True)


# Create a groupby object: by_day
by_day = sales.groupby(sales.index.strftime('%a'))

# Create sum: units_sum
units_sum = by_day['Units'].sum()

# Print units_sum
print(units_sum)

ValueError: 'Date' is not in list

## Detecting outliers with Z-Scores
### As Dhavide demonstrated in the video using the zscore function, you can apply a .transform() method after grouping to apply a function to groups of data independently. The z-score is also useful to find outliers: a z-score value of +/- 3 is generally considered to be an outlier.

In [70]:
gapminder_2010 = pd.read_csv('gapminder_tidy.csv', index_col='Country')

# Import zscore
from scipy.stats import zscore

# Group gapminder_2010: standardized
standardized = gapminder_2010.groupby('region')['life', 'fertility'].transform(zscore)

# Construct a Boolean Series to identify outliers: outliers
outliers = (standardized['life'] < -3) | (standardized['fertility'] > 3)

# Filter gapminder_2010 by the outliers: gm_outliers
gm_outliers = gapminder_2010.loc[outliers]

# Print gm_outliers
print(gm_outliers)

              Year  fertility    life  population  child_mortality     gdp  \
Country
Bolivia       1964      6.607  43.913   3668568.0           265.40  2971.0
Bolivia       1965      6.593  44.229   3752892.0           260.10  3046.0
Bolivia       1966      6.586  44.536   3839751.0           254.50  3191.0
Bolivia       1967      6.585  44.835   3929192.0           248.80  3312.0
Bolivia       1968      6.587  45.132   4021551.0           243.00  3510.0
Bolivia       1969      6.587  45.436   4117259.0           237.10  3581.0
Bolivia       1970      6.578  45.765   4216572.0           231.30  3678.0
Bolivia       1971      6.549  46.135   4319564.0           225.30  3727.0
Bolivia       1972      6.496  46.563   4426012.0           219.10  3823.0
Bolivia       1973      6.415  47.055   4535500.0           212.80  3988.0
Bolivia       1974      6.310  47.614   4647442.0           206.40  4093.0
Bolivia       1975      6.183  48.242   4761344.0           200.10  4260.0
Cambodia      1973      5.988  35.800   7162333.0           273.01  1161.0
Cambodia      1974      5.795  33.100   7157572.0           290.92  1101.0
Cambodia      1975      5.622  19.800   7097800.0           310.00  1096.0
Cambodia      1976      5.498  17.100   6972559.0           285.60  1116.0
Cambodia      1977      5.441  16.100   6796368.0           261.90   976.0
Cambodia      1978      5.459  17.500   6618684.0           235.90  1003.0
Cambodia      1979      5.545  19.800   6506208.0           207.80   891.0
Cambodia      1980      5.685  26.000   6505693.0           181.40   839.0
Cambodia      1981      5.850  35.788   6636869.0           159.10   822.0
Guatemala     1964      6.434  47.884   4636016.0           201.50  3722.0
Haiti         1964      6.233  44.464   4188276.0           273.00  2024.0
Haiti         1965      6.179  45.006   4272760.0           268.50  2003.0
Haiti         1966      6.109  45.518   4359031.0           263.90  1949.0
Haiti         1967      6.026  45.994   4446944.0           259.20  1869.0
Haiti         1968      5.937  46.430   4535485.0           254.60  1902.0
Haiti         1969      5.847  46.831   4623315.0           249.90  1922.0
Haiti         1970      5.762  47.204   4709644.0           245.10  1970.0
Haiti         1971      5.693  47.561   4794158.0           240.10  2076.0
...            ...        ...     ...         ...              ...     ...
Haiti         2010      3.350  45.000   9993247.0           208.80  1518.0
Rwanda        1994      6.416   6.000   5648306.0           293.80   509.0
Timor-Leste   1964      6.347  35.724    537278.0           318.95   701.0
Timor-Leste   1965      6.314  36.263    547681.0           310.06   701.0
Timor-Leste   1966      6.268  36.885    558110.0           301.20   702.0
Timor-Leste   1974      5.037  36.648    662785.0           275.29   725.0
Timor-Leste   1975      4.794  35.080    662962.0           274.87   742.0
Timor-Leste   1976      4.611  33.702    652072.0           274.44   759.0
Timor-Leste   1977      4.514  32.814    632134.0           274.01   776.0
Timor-Leste   1978      4.513  32.615    608743.0           273.58   794.0
Timor-Leste   1979      4.606  33.162    589744.0           273.14   813.0
Timor-Leste   1980      4.767  34.402    580707.0           330.93   832.0
Timor-Leste   1981      4.956  36.166    583764.0           312.32   851.0
Turkey        1964      6.029  48.313  31109820.0           221.90  5296.0
Turkey        1965      5.951  49.037  31837999.0           215.40  5309.0
Turkey        1966      5.874  49.736  32556294.0           209.30  5906.0
Turkey        1967      5.797  50.409  33267998.0           203.40  6020.0
Turkey        1968      5.721  51.057  33982141.0           197.80  6295.0
Turkey        1969      5.644  51.683  34711167.0           192.30  6470.0
Turkey        1970      5.563  52.291  35464196.0           186.90  6740.0
Turkey        1971      5.475  52.893  36245756.0           181.50  6765.0
Turkey        1972      5.375  53.498  37054168.0           175.90  7186.0
Turkey        1973      5.263  54.115  37884870.0           170.30  7442.0
Turkey        1974      5.140  54.746  38730367.0           164.50  7991.0
Turkey        1975      5.008  55.392  39585821.0           158.60  8381.0
Turkey        1976      4.872  56.050  40446729.0           152.70  9142.0
Turkmenistan  1964      6.663  56.181   1829697.0           132.98  7952.0
Yemen, Rep.   1964      7.385  36.068   5527652.0              NaN     NaN
Yemen, Rep.   1965      7.418  36.957   5632206.0              NaN     NaN
Yemen, Rep.   1966      7.447  37.827   5737000.0              NaN     NaN

                                  region
Country
Bolivia                          America
Bolivia                          America
Bolivia                          America
Bolivia                          America
Bolivia                          America
Bolivia                          America
Bolivia                          America
Bolivia                          America
Bolivia                          America
Bolivia                          America
Bolivia                          America
Bolivia                          America
Cambodia             East Asia & Pacific
Cambodia             East Asia & Pacific
Cambodia             East Asia & Pacific
Cambodia             East Asia & Pacific
Cambodia             East Asia & Pacific
Cambodia             East Asia & Pacific
Cambodia             East Asia & Pacific
Cambodia             East Asia & Pacific
Cambodia             East Asia & Pacific
Guatemala                        America
Haiti                            America
Haiti                            America
Haiti                            America
Haiti                            America
Haiti                            America
Haiti                            America
Haiti                            America
Haiti                            America
...                                  ...
Haiti                            America
Rwanda                Sub-Saharan Africa
Timor-Leste          East Asia & Pacific
Timor-Leste          East Asia & Pacific
Timor-Leste          East Asia & Pacific
Timor-Leste          East Asia & Pacific
Timor-Leste          East Asia & Pacific
Timor-Leste          East Asia & Pacific
Timor-Leste          East Asia & Pacific
Timor-Leste          East Asia & Pacific
Timor-Leste          East Asia & Pacific
Timor-Leste          East Asia & Pacific
Timor-Leste          East Asia & Pacific
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkey             Europe & Central Asia
Turkmenistan       Europe & Central Asia
Yemen, Rep.   Middle East & North Africa
Yemen, Rep.   Middle East & North Africa
Yemen, Rep.   Middle East & North Africa

[62 rows x 7 columns]

## Filling missing data (imputation) by group
### Many statistical and machine learning packages cannot determine the best action to take when missing data entries are encountered.

In [72]:
# Create a groupby object: by_sex_class
by_sex_class = titanic.groupby(['sex', 'pclass'])

# Write a function that imputes median
def impute_median(series):
    return series.fillna(series.median())

# Impute age and assign to titanic['age']
titanic.age = by_sex_class.age.transform(impute_median)
# Print the output of titanic.tail(10)
print(titanic.tail(10))

      pclass  survived                                     name     sex   age  \
1299       3         0                      Yasbeck, Mr. Antoni    male  27.0
1300       3         1  Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.0
1301       3         0                     Youseff, Mr. Gerious    male  45.5
1302       3         0                        Yousif, Mr. Wazli    male  25.0
1303       3         0                    Yousseff, Mr. Gerious    male  25.0
1304       3         0                     Zabour, Miss. Hileni  female  14.5
1305       3         0                    Zabour, Miss. Thamine  female  22.0
1306       3         0                Zakarian, Mr. Mapriededer    male  26.5
1307       3         0                      Zakarian, Mr. Ortin    male  27.0
1308       3         0                       Zimmerman, Mr. Leo    male  29.0

      sibsp  parch  ticket     fare cabin embarked boat   body home.dest
1299      1      0    2659  14.4542   NaN        C    C    NaN       NaN
1300      1      0    2659  14.4542   NaN        C  NaN    NaN       NaN
1301      0      0    2628   7.2250   NaN        C  NaN  312.0       NaN
1302      0      0    2647   7.2250   NaN        C  NaN    NaN       NaN
1303      0      0    2627  14.4583   NaN        C  NaN    NaN       NaN
1304      1      0    2665  14.4542   NaN        C  NaN  328.0       NaN
1305      1      0    2665  14.4542   NaN        C  NaN    NaN       NaN
1306      0      0    2656   7.2250   NaN        C  NaN  304.0       NaN
1307      0      0    2670   7.2250   NaN        C  NaN    NaN       NaN
1308      0      0  315082   7.8750   NaN        S  NaN    NaN       NaN

## Other transformations with .apply

In [78]:
# Group gapminder_2010 by 'region': regional
regional = gapminder_2010.groupby('region')

def disparity(gr):
    # Compute the spread of gr['gdp']: s
    s = gr['gdp'].max() - gr['gdp'].min()
    # Compute the z-score of gr['gdp']:
    z = (gr['gdp'] - gr['gdp'].mean())/gr['gdp'].std()
    
    return pd.DataFrame({'z(gdp)': z, 'regional spread(gdp)':s})
# Apply the disparity function on regional: reg_disp
reg_disp = regional.apply(disparity)

# Print the disparity of 'United States', 'United Kingdom', and 'China'
print(reg_disp.loc[['United States', 'United Kingdom', 'China']])

ValueError: cannot reindex from a duplicate axis

In [77]:
gapminder_2010[~gapminder_2010.index.duplicated()]

,Year,fertility,life,population,child_mortality,gdp,region
Country,,,,,,,
Afghanistan,1964,7.671,33.639,10474903.0,339.70,1182.0,South Asia
Albania,1964,5.711,65.475,1817098.0,122.67,3023.0,Europe & Central Asia
Algeria,1964,7.653,47.953,11654905.0,247.30,5693.0,Middle East & North Africa
Angola,1964,7.425,34.604,5337063.0,305.20,4573.0,Sub-Saharan Africa
Antigua and Barbuda,1964,4.250,63.775,58653.0,72.78,5008.0,America
Argentina,1964,3.068,65.388,21966478.0,57.43,8227.0,America
Armenia,1964,4.161,67.714,2138133.0,66.85,2823.0,Europe & Central Asia
Aruba,1964,4.059,67.113,57031.0,NaN,5505.0,America
Australia,1964,3.154,70.650,11122567.0,22.70,16098.0,East Asia & Pacific
Austria,1964,2.795,70.160,7220812.0,34.20,13915.0,Europe & Central Asia
Azerbaijan,1964,5.468,62.701,4440733.0,93.61,5751.0,Europe & Central Asia
Bahamas,1964,4.220,64.189,133709.0,48.56,18160.0,America
Bahrain,1964,7.192,57.182,181833.0,138.90,24751.0,Middle East & North Africa
Bangladesh,1964,6.853,49.297,56071080.0,240.40,1138.0,South Asia
Barbados,1964,4.094,62.819,234455.0,64.70,5681.0,America
Belarus,1964,2.601,73.480,8521413.0,33.42,4357.0,Europe & Central Asia
Belgium,1964,2.599,70.730,9384939.0,28.90,14995.0,Europe & Central Asia
Belize,1964,6.420,62.241,103555.0,112.27,2114.0,America
Benin,1964,6.497,39.142,2561022.0,292.50,1159.0,Sub-Saharan Africa
Bhutan,1964,6.670,33.827,251419.0,311.78,997.0,South Asia
Bolivia,1964,6.607,43.913,3668568.0,265.40,2971.0,America
Bosnia and Herzegovina,1964,3.619,62.814,3357005.0,117.16,2152.0,Europe & Central Asia
Botswana,1964,6.681,52.035,579518.0,152.80,1038.0,Sub-Saharan Africa
Brazil,1964,5.953,56.521,82021855.0,154.20,4707.0,America
Brunei,1964,6.227,64.599,95191.0,83.12,67522.0,East Asia & Pacific
Bulgaria,1964,2.181,71.140,8140705.0,45.60,6110.0,Europe & Central Asia
Burkina Faso,1964,6.414,36.331,5195464.0,331.00,711.0,Sub-Saharan Africa
Burundi,1964,7.138,42.543,3154474.0,241.60,603.0,Sub-Saharan Africa
Cambodia,1964,6.909,41.900,5983575.0,238.67,1548.0,East Asia & Pacific
Cameroon,1964,5.890,43.303,5909450.0,262.80,1910.0,Sub-Saharan Africa
...,...,...,...,...,...,...,...
Syria,1964,7.555,55.028,5202606.0,145.60,2894.0,Middle East & North Africa
Taiwan,1964,5.128,66.700,12631000.0,NaN,3407.0,East Asia & Pacific
Tajikistan,1964,6.433,57.840,2424189.0,172.62,3769.0,Europe & Central Asia
Tanzania,1964,6.801,44.731,11338515.0,233.90,1176.0,Sub-Saharan Africa
Thailand,1964,6.151,57.133,30839333.0,128.00,1725.0,East Asia & Pacific
Timor-Leste,1964,6.347,35.724,537278.0,318.95,701.0,East Asia & Pacific
Togo,1964,6.734,42.846,1654451.0,254.60,1483.0,Sub-Saharan Africa
Tokelau,2006,NaN,69.000,1170.0,NaN,NaN,East Asia & Pacific
Tonga,1964,7.117,62.839,71758.0,76.50,1610.0,East Asia & Pacific
Trinidad and Tobago,1964,4.664,64.422,883421.0,59.70,9362.0,America
Tunisia,1964,7.107,44.903,4541457.0,244.70,2575.0,Middle East & North Africa
Turkey,1964,6.029,48.313,31109820.0,221.90,5296.0,Europe & Central Asia
Turkmenistan,1964,6.663,56.181,1829697.0,132.98,7952.0,Europe & Central Asia
Uganda,1964,7.078,46.332,7746988.0,204.30,965.0,Sub-Saharan Africa
Ukraine,1964,2.070,72.190,44868657.0,45.18,6239.0,Europe & Central Asia
United Arab Emirates,1964,6.861,56.328,134478.0,162.20,5021.0,Middle East & North Africa
United Kingdom,1964,2.791,71.620,54006245.0,24.20,15067.0,Europe & Central Asia
United States,1964,3.222,70.330,197094531.0,27.70,20338.0,America
Uruguay,1964,2.858,68.455,2664775.0,58.60,7644.0,America
Uzbekistan,1964,6.777,60.682,9888629.0,163.99,2636.0,Europe & Central Asia
Vanuatu,1964,6.836,48.853,72131.0,137.70,1553.0,East Asia & Pacific
Venezuela,1964,6.495,61.825,8759890.0,72.00,13789.0,America
Vietnam,1964,6.464,61.604,38898597.0,95.00,1285.0,East Asia & Pacific
Virgin Islands (U.S.),1964,5.698,65.198,46122.0,NaN,NaN,America
West Bank and Gaza,1964,8.041,51.679,1181587.0,165.32,1237.0,Middle East & North Africa
Western Sahara,1964,6.562,39.880,46308.0,NaN,NaN,Middle East & North Africa
"Yemen, Rep.",1964,7.385,36.068,5527652.0,NaN,NaN,Middle East & North Africa
Zambia,1964,7.240,46.574,3430747.0,192.30,3214.0,Sub-Saharan Africa
Zimbabwe,1964,7.347,52.993,4279524.0,131.10,1976.0,Sub-Saharan Africa
Ã…land,1997,NaN,78.900,NaN,NaN,NaN,Europe & Central Asia

### Grouping and filtering with .apply()

In [79]:
# Create a groupby object using titanic over the 'sex' column: by_sex
by_sex = titanic.groupby('sex')

def c_deck_survival(gr):

    c_passengers = gr['cabin'].str.startswith('C').fillna(False)

    return gr.loc[c_passengers, 'survived'].mean()

# Call by_sex.apply with the function c_deck_survival and print the result
c_surv_by_sex = by_sex.apply(c_deck_survival)

# Print the survival rates
print(c_surv_by_sex)

sex
female    0.913043
male      0.312500
dtype: float64

### Grouping and filtering with .filter()

In [82]:

# Read the CSV file into a DataFrame: sales
#sales = pd.read_csv('sales.csv', index_col='Date', parse_dates=True)

# Group sales by 'Company': by_company
by_company = sales.groupby('Company')

# Compute the sum of the 'Units' of by_company: by_com_sum
by_com_sum = by_company['Units'].apply(sum)
print(by_com_sum)

# Filter 'Units' where the sum is > 35: by_com_filt
by_com_filt = by_company.filter(lambda g:g['Units'].sum() > 35)
print(by_com_filt)

KeyError: 'Company'

## Filtering and grouping with .map()

In [83]:
# Create the Boolean Series: under10
under10 = (titanic['age'] < 10).map({True:'under 10', False:'over 10'})

# Group by under10 and compute the survival rate
survived_mean_1 = titanic.groupby(under10)['survived'].msean()
print(survived_mean_1)

# Group by under10 and pclass and compute the survival rate
survived_mean_2 = titanic.groupby([under10, 'pclass'])['survived'].mean()
print(survived_mean_2)

age
over 10     0.366748
under 10    0.609756
Name: survived, dtype: float64
age       pclass
over 10   1         0.617555
          2         0.380392
          3         0.238897
under 10  1         0.750000
          2         1.000000
          3         0.446429
Name: survived, dtype: float64